{% extends "main.html" %}

{% block category_title %} Category {% endblock %}
{% block category %}
  <li>
    <a href="{{url_for('Category:get', id=category.id)}}">{{ category.name }}</a>
  </li>
{% endblock %}
{% block category_content %}
  <a class="btn btn-default" href="{{ url_for('Main:index') }}"> << Go Back</a>
{% endblock %}

{% block item %}
  {% for item in category.items %}
    <li>
      <a href="{{url_for('Item:get', id=item.id)}}">{{ item.name }}</a>
    </li>
  {% endfor %}
{% endblock %}
